* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: Arial;
    background-color: #3498DB;
    margin-left: 40px;
}

h1 {
    font-size: 50px;
}

code {
    font-family: FreeMono;
    font-size: 20px;
}

table {
    font-family: monospace;
    font-size: 20px;
    table-layout:fixed; width:300px;
    border: 1px solid black;
}

.send_form {
    margin-top: 15px;
}

.parameter, .parameter_ro {
    margin-top: 5px;
}

.modified
{
    background-color: yellow;
}
