<!DOCTYPE html>
<html>
    <title>Graphs Woodie</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src={{ url_for('static', filename='plotly-latest.min.js') }}></script>
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('index') }}">WOODIE</a></h1>
        </header>
        <title>WOODIE</title>
        <h2>GRAPHS WOODIE</h2>
        <h3>TEMPERATURE & ACTIVATION RELAIS</h3>
        <div id='example' ></div>
    </body>
    <script>
        data = [
            {
                x: {{ data_x|safe }},
                y: {{ data_y_1|safe }},
                name: 'TEMPERATURE',
                yaxis: 'y1',
                type: 'scatter'
            },
            {
                x: {{ data_x|safe }},
                y: {{ data_y_2|safe }},
                name: 'RELAI',
                yaxis: 'y2',
                type: 'scatter'
            }
        ];
        var layout = {
            xaxis: {
                title: 'DATE',
                titlefont: {
                    family: 'Arial, sans-serif',
                    size: 18,
                    color: 'lightgrey'
                },
                showticklabels: false,
                tickangle: 70,
                tickfont: {
                    family: 'Old Standard TT, serif',
                    size: 11,
                    color: 'black'
                }
            },
            yaxis: {
                title: 'TEMPERATURE',
                titlefont: {
                    family: 'Arial, sans-serif',
                    size: 18,
                    color: 'lightgrey'
                },
                showticklabels: true,
                tickfont: {
                    family: 'Old Standard TT, serif',
                    size: 14,
                    color: 'black'
                }
            },
            yaxis2: {
                title: 'RELAI',
                side: 'right',
                overlaying: 'y',
                titlefont: {
                    family: 'Arial, sans-serif',
                    size: 18,
                    color: 'lightgrey'
                },
                showticklabels: true,
                tickfont: {
                    family: 'Old Standard TT, serif',
                    size: 14,
                    color: 'black'
                }
            }
        };
        Plotly.plot('example', data, layout);
    </script>
</html>

