<!DOCTYPE html>
<html>
    <title>Graphs Woodie</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src={{ url_for('static', filename='plotly-latest.min.js') }}></script>
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('index') }}">WOODIE</a></h1>
        </header>
        <title>WOODIE</title>
        <h2>{{dt}}</h2>
      {% for g in gl %}
        <h3>{{g.titre}}</h3>
        <div id='{{g.titre}}' ></div>
      {% endfor %}
        <h3>EVENEMENT(S) :</h3>
        {% for e in errs %}
           {% if loop.length == 0 %}
             Vide.
           {% else %}
             {{ e }}<br>
           {% endif %}
        {% endfor %}

    </body>
    <script>
      {% for g in gl %}
        data = [
          {% for c in g.courbes %}
            {
                x: {{ g.x.pts|safe }},
                y: {{ c.pts|safe }},
                name: '{{ c.nom }}',
                yaxis: '{{ c.axe }}',
                offset: '100',
                type: 'scatter',
                line: {
                    shape: 'hvh'
                }

            },
          {% endfor %}
        ];
        var layout = {
            xaxis: {
                title: '{{g.x.label}}',
                titlefont: {
                    family: 'Arial, sans-serif',
                    size: 18,
                    color: 'black'
                },
                showticklabels: false,
                tickangle: 70,
                tickfont: {
                    family: 'Old Standard TT, serif',
                    size: 11,
                    color: 'black'
                }
            },
            yaxis: {
                title: '{{ g.y1.label }}',
                titlefont: {
                    family: 'Arial, sans-serif',
                    size: 18,
                    color: 'black'
                },
                showticklabels: true,
                tickfont: {
                    family: 'Old Standard TT, serif',
                    size: 14,
                    color: 'black'
                },
                rangemode: 'tozero'
            },
          {% if g.ay2 != '' %}
            yaxis2: {
                title: '{{ g.y2.label }}',
                side: 'right',
                overlaying: 'y',
                titlefont: {
                    family: 'Arial, sans-serif',
                    size: 18,
                    color: 'black'
                },
                showticklabels: true,
                tickfont: {
                    family: 'Old Standard TT, serif',
                    size: 14,
                    color: 'black'
                },
            }
          {% endif %}
        };
        Plotly.plot('{{g.titre}}', data, layout);

        {% endfor %}
    </script>
</html>

