<!DOCTYPE html>
<html>
    <title>Accueil Woodie</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('index') }}">WOODIE</a></h1>
        </header>
        <h2>ACCUEIL WOODIE</h2>
        <h3>LISTE DES LOGS DISPONNIBLES</h3>
        <form action="{{ url_for('graph') }}" method="post">
          {% for log in logs %}
            <input type="radio" name="log_radio" value="{{ log }}">{{ log }}<br>
          {% endfor %}
          <input type="submit" value="Afficher">
        </form> 
    </body>
</html>
