<!DOCTYPE html>
<html>
    <title>Woodie graphs</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <style>
        
    </style>
    <body>
        <h1>WOODIE GRAPHS</h1>
        <h2>WOODIE WATER TEMPERATURE</h2>
        <div id='example' ></div>
    </body>
    <script>
        div = document.getElementById('example');
        data = [{
            x: {{ data_x|safe }},
            y: {{ data_y|safe }},
            type: 'scatter'
        }];
        var layout = {
          xaxis: {
            title: 'DATE',
            titlefont: {
              family: 'Arial, sans-serif',
              size: 18,
              color: 'lightgrey'
            },
            showticklabels: false,
            tickangle: 70,
            tickfont: {
              family: 'Old Standard TT, serif',
              size: 11,
              color: 'black'
            }
          },
          yaxis: {
            title: 'TEMPERATURE °C',
            titlefont: {
              family: 'Arial, sans-serif',
              size: 18,
              color: 'lightgrey'
            },
            showticklabels: true,
            tickfont: {
              family: 'Old Standard TT, serif',
              size: 14,
              color: 'black'
            }
          }
        };
        Plotly.plot(div, data, layout);
    </script>
</html>

